<form class="form" [formGroup]="loginForm" (submit)="submitForm()">
  <trainum-text-input
    label="Username"
    formControlName="username"
  ></trainum-text-input>
  <trainum-text-input
    label="Password"
    [type]="InputType.Password"
    formControlName="password"
  ></trainum-text-input>
  <trainum-error-msg>
    {{ error_message }}
  </trainum-error-msg>
  <trainum-hyperlink
    [routerLink]="['auth', 'signup']"
    text="Forgot Password..."
  ></trainum-hyperlink>
  <trainum-button>Log In</trainum-button>
  <trainum-hyperlink
    [routerLink]="['../signup']"
    text="Sign Up Instead..."
  ></trainum-hyperlink>
</form>
