@use 'colors.scss' as colors;

.workouts {
  padding: 1rem 0.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
}

.empty {
  margin: auto;
  text-align: center;
  color: colors.ui-get(dark-text);
}

.new-button {
  $padding: 20px;

  position: absolute;
  left: $padding;
  right: $padding;
  bottom: 30px;
  font-size: 0.8rem;
}
