<form [formGroup]="formGroup!">
  <h3>SET {{ index }}</h3>
  <p>{{ formGroup!.controls.type.value | uppercase }}</p>
  <div class="inputs">
    <input
      *ngIf="formGroup!.controls.type.value === ExerciseType.Weighted"
      type="text"
      placeholder="Reps"
      formControlName="reps"
    />
    <input
      *ngIf="formGroup!.controls.type.value === ExerciseType.BodyWeight"
      type="text"
      placeholder="Reps"
      formControlName="reps"
    />
    <input
      *ngIf="formGroup!.controls.type.value === ExerciseType.Weighted"
      type="text"
      placeholder="Weight"
      formControlName="weight"
    />
    <input
      *ngIf="formGroup!.controls.type.value === ExerciseType.Timed"
      type="text"
      placeholder="Seconds"
      formControlName="time"
    />
  </div>
</form>
