<form
  [formGroup]="formGroup!"
  trainumDragable
  [draggable]="true"
  (draggedAway)="removedEvent.emit($event)"
>
  <h3>SET {{ index + 1 }}</h3>
  <p>{{ formGroup!.controls.type.value | uppercase }}</p>
  <div class="inputs">
    <input
      *ngIf="formGroup!.controls.type.value === ExerciseType.Weighted"
      type="number"
      placeholder="Reps"
      formControlName="reps"
    />
    <input
      *ngIf="formGroup!.controls.type.value === ExerciseType.BodyWeight"
      type="number"
      placeholder="Reps"
      formControlName="reps"
    />
    <input
      *ngIf="formGroup!.controls.type.value === ExerciseType.Weighted"
      type="number"
      placeholder="Weight"
      formControlName="weight"
    />
    <input
      *ngIf="formGroup!.controls.type.value === ExerciseType.Timed"
      type="number"
      placeholder="Seconds"
      formControlName="time"
    />
  </div>
</form>
