<trainum-expand-menu
  trainumStopPropagation
  [expanded]="exercisePageExpanded"
  [type]="ExpandMenuType.Bottom"
>
  <div class="exercise-content">
    <trainum-exercises
      class="exercises"
      (exerciseSelected)="addExercise($event)"
    >
    </trainum-exercises>

    <trainum-button class="new-button" (click)="closeExercisesPage()"
      >Back</trainum-button
    >
  </div>
</trainum-expand-menu>

<form [formGroup]="workoutForm" class="container">
  <h2 id="title" class="space-bottom-1">Create Workout Routine</h2>
  <hr class="space-bottom-1" />
  <input
    class="space-bottom-2"
    formControlName="name"
    trainumTxtInput
    type="text"
    placeholder="Name"
  />
  <h3 class="space-bottom-3">Exercises</h3>

  <div class="selected space-bottom-2" formArrayName="sets">
    <p class="empty" *ngIf="exerciseArray.controls.length <= 0">
      No Exercises In This Routine
    </p>

    <trainum-button [invert]="true" (click)="openExercisesPage()"
      >Add Exercise</trainum-button
    >

    <ng-container *ngFor="let exerciseForm of exerciseArray.controls">
      <trainum-exercise-card
        (draggedAway)="deleteExercise($event)"
        [draggable]="true"
        [exercise]="exerciseForm.controls['exercise'].value!"
      ></trainum-exercise-card>

      <p class="empty" *ngIf="exerciseForm.controls.sets.length <= 0">
        No Sets In This Exercise
      </p>

      <ng-container
        *ngFor="
          let setForm of exerciseForm.controls.sets.controls;
          let i = index
        "
      >
        <trainum-create-set-form
          [index]="i"
          [formGroup]="setForm"
          (removedEvent)="deleteSet(exerciseForm, i)"
        ></trainum-create-set-form>
      </ng-container>

      <trainum-hyperlink
        class="center"
        text="Add Set"
        (click)="addSet(exerciseForm)"
      ></trainum-hyperlink>
    </ng-container>
  </div>

  <trainum-button class="bottom" (click)="addWorkout()"
    >Add Workout</trainum-button
  >
</form>
