@use 'colors.scss' as colors;

.body {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  padding-top: 15vh;

  overflow-y: scroll;

  gap: 8vh;
}

.logo {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  margin-bottom: 4vh;
}

.logo fa-icon {
  color: colors.ui-get(logo);
  font-size: 3rem;
  font-weight: 800;
}

.form {
  min-height: 40vh;
  min-width: 80vw;
  max-width: 80vw;

  display: flex;
  justify-content: center;

  margin-bottom: 4vh;
}

h1 {
  color: colors.ui-get(logo);

  font-family: 'Inter', sans-serif;
  font-weight: 60 0;
  font-size: 3rem;
}
svg path {
  fill: colors.ui-get(footer);
}
