.container {
  width: 100vw;
  min-height: 100vh;
  max-height: 100vh;

  display: flex;
  flex-flow: column nowrap;

  /* temp */
  /* background-color: grey; */
}

.top {
  max-width: 100%;

  /* background-color: red; */
}

.content {
  max-width: 100%;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  // padding: 10px;

  /* temp */
  /* background-color: blue; */
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  z-index: 0;
}

.bottom {
  max-width: 100%;

  /* temp */
  /* min-height: 50px;
  background-color: red; */
}

.profile-page {
  padding: 1rem;
}
