<div class="container">
  <div class="top">
    <trainum-topbar
      [title]="active_nav_item.name"
      (topbarEvent)="onTopbarEvent($event)"
    ></trainum-topbar>
  </div>
  <div class="content" (click)="removeFocus()">
    <trainum-expand-menu
      trainumStopPropagation
      [expanded]="profile_expanded"
      [type]="ExpandMenuType.Right"
    >
      <trainum-button (click)="logout()">Log Out</trainum-button>
    </trainum-expand-menu>
    <trainum-expand-menu
      trainumStopPropagation
      [expanded]="settings_expanded"
      [type]="ExpandMenuType.Left"
    >
    </trainum-expand-menu>
    <router-outlet> </router-outlet>
  </div>
  <div class="bottom">
    <trainum-navbar
      [nav_items]="nav_items"
      [active_nav_item]="active_nav_item"
      (nav_item_click)="onNanvItemClick($event)"
    ></trainum-navbar>
  </div>
</div>
