<div class="container">
  <div class="top"></div>
  <div class="content">
    <p>dashboard works!</p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ad
      consequuntur laborum, eligendi est odio, qui dicta totam ipsa nulla ipsam
      id similique nostrum error, harum a molestiae alias obcaecati.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ad
      consequuntur laborum, eligendi est odio, qui dicta totam ipsa nulla ipsam
      id similique nostrum error, harum a molestiae alias obcaecati.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ad
      consequuntur laborum, eligendi est odio, qui dicta totam ipsa nulla ipsam
      id similique nostrum error, harum a molestiae alias obcaecati.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ad
      consequuntur laborum, eligendi est odio, qui dicta totam ipsa nulla ipsam
      id similique nostrum error, harum a molestiae alias obcaecati.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ad
      consequuntur laborum, eligendi est odio, qui dicta totam ipsa nulla ipsam
      id similique nostrum error, harum a molestiae alias obcaecati.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ad
      consequuntur laborum, eligendi est odio, qui dicta totam ipsa nulla ipsam
      id similique nostrum error, harum a molestiae alias obcaecati.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ad
      consequuntur laborum, eligendi est odio, qui dicta totam ipsa nulla ipsam
      id similique nostrum error, harum a molestiae alias obcaecati.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ad
      consequuntur laborum, eligendi est odio, qui dicta totam ipsa nulla ipsam
      id similique nostrum error, harum a molestiae alias obcaecati.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ad
      consequuntur laborum, eligendi est odio, qui dicta totam ipsa nulla ipsam
      id similique nostrum error, harum a molestiae alias obcaecati.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ad
      consequuntur laborum, eligendi est odio, qui dicta totam ipsa nulla ipsam
      id similique nostrum error, harum a molestiae alias obcaecati.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ad
      consequuntur laborum, eligendi est odio, qui dicta totam ipsa nulla ipsam
      id similique nostrum error, harum a molestiae alias obcaecati.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ad
      consequuntur laborum, eligendi est odio, qui dicta totam ipsa nulla ipsam
      id similique nostrum error, harum a molestiae alias obcaecati.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ad
      consequuntur laborum, eligendi est odio, qui dicta totam ipsa nulla ipsam
      id similique nostrum error, harum a molestiae alias obcaecati.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ad
      consequuntur laborum, eligendi est odio, qui dicta totam ipsa nulla ipsam
      id similique nostrum error, harum a molestiae alias obcaecati.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ad
      consequuntur laborum, eligendi est odio, qui dicta totam ipsa nulla ipsam
      id similique nostrum error, harum a molestiae alias obcaecati.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ad
      consequuntur laborum, eligendi est odio, qui dicta totam ipsa nulla ipsam
      id similique nostrum error, harum a molestiae alias obcaecati.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ad
      consequuntur laborum, eligendi est odio, qui dicta totam ipsa nulla ipsam
      id similique nostrum error, harum a molestiae alias obcaecati.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ad
      consequuntur laborum, eligendi est odio, qui dicta totam ipsa nulla ipsam
      id similique nostrum error, harum a molestiae alias obcaecati.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ad
      consequuntur laborum, eligendi est odio, qui dicta totam ipsa nulla ipsam
      id similique nostrum error, harum a molestiae alias obcaecati.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ad
      consequuntur laborum, eligendi est odio, qui dicta totam ipsa nulla ipsam
      id similique nostrum error, harum a molestiae alias obcaecati.
    </p>

    <button (click)="logout()">Log Out</button>
  </div>
  <div class="bottom">
    <trainum-navbar></trainum-navbar>
  </div>
</div>
